* {
    ::-moz-selection {
        /* Code for Firefox */
        color: $white;
        background: $main;
    }

    ::selection {
        color: $white;
        background: $main;
    }
}

.bead-cramp {
    margin-bottom: 20px;

    p,
    a {
        font-size: 16px;
        font-weight: 400;
        color: $white;

    }
}

.ProductDataWrapper {
    background-color: $black;
    display: flex;
    gap: 24px;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}

.ProducrSwiper {
    margin-bottom: 48px;
    max-width: 482px;
    background-color: $black;
    @media screen and (max-width: 767px) {
        width: 100%;
        max-width: 100%;
    }
    .mainImgCont {
        height: 323px;
        width: 100%;
        margin-bottom: 17px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 7px;
        }
    }

    .slide-img-cont {
        height: 75px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 7px;
        }
    }
}

.rate {
    display: flex;
    align-items: center;
    gap: 8px;

    p {
        margin: 0;
        color: $white;
        font-size: 16px;
        font-weight: 400;
        @media screen and (max-width: 767px) {
            font-size: 14px;
        }
    }

    .stars {
        display: flex;
        gap: 6px;
    }

    i {
        font-size: 18px;
    }

    .goldenStar {
        color: #FAC950;
    }

    .grayStar {
        color: #C3C3C3;
    }
}
.rate {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;

    i {
        font-size: 15px;
        color: #C3C3C3;
    }

    .golden {
        color: #FAC950;
    }
}
.product-review {
    border: 1px solid rgba(28, 28, 28, 0.1);
    border-radius: 10px;
    padding: 32px 0px 24px;
    background-color: #fff;

    .main-rate {
        padding-bottom: 24px;
        margin: 0 40px;
        border-bottom: 1px solid rgba(28, 28, 28, 0.1);

        p {
            display: flex;
            align-items: center;
            gap: 11px;
            color: $white;
        }
    }

    .review {
        padding: 20px 40px;

        .head {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 17px;

            .img-cont {
                width: 53px;
                height: 53px;
                border-radius: 50%;
                overflow: hidden;
                flex-shrink: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .user-data {
                display: flex;
                flex-direction: column;
                padding: 2px 0;
                height: 55px;
                justify-content: space-between;

                .name {
                    font-size: 16px;
                    font-weight: 700;
                    color: $black;
                    margin-bottom: 0;
                }

                p {
                    margin: 0;
                    font-size: 14px;
                    font-weight: 400;
                    color: #484C52;
                    @media screen and (max-width: 767px) {
                        font-size: 12px;
                        
                    }
                }
            }
        }

        .comment {
            font-size: 14px;
            font-weight: 400;
            color: #484C52;

        }

    }

    .View-More {
        padding: 10px 40px 0;
        display: flex;
        align-items: center;
        gap: 10px;
        color: $main;
        cursor: pointer;

        span {
            font-size: 14px;
            font-weight: 400;
            // color: $main;
        }

        &:hover {
            color: $black;

            i {
                transform: translateX(5px);
            }
        }
    }

}

.product-review .review:nth-child(odd) {
    background-color: #F8F8F8;
}
.count-cont {
    display: flex;
    align-items: center;
    gap: 24px;
}
.ProductDetails{
    .count-cont {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 24px;
    }

}

.ProductDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 48px;
    gap: 12px;
    width: 100%;

    .product-name {
        color: $white;
        font-size: 24px;
        font-weight: 400;
        margin: 0;
    }

    .product-cat {
        color: $white;
        font-size: 20px;
        font-weight: 400;
        margin: 0;
    }



    .prod-price {
        margin: 0;
        font-size: 28px;
        font-weight: 700;
        color: $white;
    }

    .availability {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        color: #C71919;
    }

    

   

    .van-hint {
        display: flex;
        align-items: center;
        gap: 17px;
        padding: 12px 19px;
        border-radius: 7px;
        border: 1px solid rgba(28, 28, 28, 0.1);

        .img {
            width: 33px;
            height: auto;
            flex-shrink: 0;

            img {
                width: 100%;
            }
        }

        .hinrP {
            margin: 0;
            font-size: 16px;
            font-weight: 400;
            color: #C71919;
        }
    }

    .policies {
        font-size: 18px;
        font-weight: 300;
        color: $white;
        margin: 0;

        span {
            font-size: 18px;
            font-weight: 700;
            color: $main;
        }
    }

    .cartLink {
        width: 100%;
        padding-top: 14px;
        padding-bottom: 14px;
        background-color: $main;
        color: $white;
        border-radius: 7px;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
    }
}
.prod-count {
    display: flex;
    align-items: center;
    gap: 4px;

    span {
        font-size: 24px;
        font-weight: 400;
        color: $white;
    }

    .minus {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 7px;
        border: 1px solid $main;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    .count {
        min-width: 30px;
        text-align: center;
    }
}
.tick-description{
    h2{
        font-size: 24px;
        font-weight: 500;
        color: $main;
        margin-bottom: 16px;

    }
    .desk-cont{
        border: 1px solid rgba(28, 28, 28, 0.1);
        border-radius: 10px;
        padding: 33px 26px;
        background-color: $white;
        li{
            margin-bottom: 18px;
        }
    }
}
.ticket-productDetails {
    justify-content: unset;

    .prod-price {
        margin-bottom: 8px;
    }

    .prod-count {
        margin-bottom: 23px;
    }

    .tickets-text {
        font-size: 20px;
        font-weight: 400;
        color: #484C52;
        margin-bottom: 0;
    }

    .tickets-persons {
        font-size: 20px;
        font-weight: 300;
        color: #484C52;
        margin-bottom: 0;
    }
}

.productFeatures {
    .tabs {
        justify-content: flex-start;
    }

}

.dataP {
    border: 1px solid rgba(28, 28, 28, 0.1);
    padding: 31px 36px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #484C52;
}

