:root {
  --main-color: #01693A;
  --main-hover: #BE202F;
  --sec-color: #1d1e20;
  --text-color: #718096;
  --back-color: #F1F5F9;
  --black-color: #000;
  --white-color: #fff;
  --border-color: #f0f0f0;
  --border-radius: 24px;
  font-size: 16px;
}

@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins/Poppins-Thin.woff2") format("woff2"), url("../webfonts/Poppins/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins/Poppins-ExtraLight.woff2") format("woff2"), url("../webfonts/Poppins/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins/Poppins-Light.woff2") format("woff2"), url("../webfonts/Poppins/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../webfonts/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins/Poppins-Medium.woff2") format("woff2"), url("../webfonts/Poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("../webfonts/Poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins/Poppins-Bold.woff2") format("woff2"), url("../webfonts/Poppins/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins/Poppins-ExtraBold.woff2") format("woff2"), url("../webfonts/Poppins/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins/Poppins-Black.woff2") format("woff2"), url("../webfonts/Poppins/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "Poppins";
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  background-color: #000;
}

.overflow {
  overflow: hidden;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) #fff;
  scroll-behavior: unset !important;
}

/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover);
}

* {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  image-rendering: -webkit-optimize-contrast !important;
  max-width: 100%;
}

.ul-es {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ancor {
  text-decoration: none;
}
.ancor:hover {
  text-decoration: none;
}

.X-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.fixed-what {
  position: fixed;
  bottom: 70px;
  inset-inline-start: 10px;
  z-index: 10;
  text-decoration: none !important;
}

.fixed-what i {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4dc247;
  font-size: 36px;
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(77, 194, 71, 0.5);
  box-shadow: 0 0 0 0 rgba(77, 194, 71, 0.4);
  animation: pulseWhats 2s infinite;
  transition: all 0.4s ease-in-out;
}

@keyframes pulseWhats {
  0% {
    box-shadow: 0 0 0 0 rgb(77, 194, 71);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(77, 194, 71, 0);
  }
  100% {
    box-shadow: 0 0 0 50px rgba(77, 194, 71, 0);
  }
}
.fixed-what i:hover {
  text-decoration: none;
  color: var(--white-color);
  box-shadow: inset 0 0 0 2em var(--main-hover);
}

/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.progress {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(135deg, var(--main-hover), var(--main-color));
  /* border-radius: 4px 4px 4px 4px; */
}

html[dir=ltr] .progress-bar {
  background-image: linear-gradient(135deg, var(--main-color), var(--main-hover));
}

@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgb(255, 255, 255);
  }
}
/*preloader*/
@media only screen and (max-width: 767px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px;
  }
}
@media only screen and (min-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1352px;
  }
}
/*lazyload*/
.lazy-img {
  transition: 0.5s;
}

.loading-img {
  background-color: #fafafa !important;
  position: relative;
  overflow: hidden;
}

.loading-img img {
  opacity: 0 !important;
  filter: blur(40px);
}

.loaded-img img {
  opacity: 1;
  filter: blur(0);
}

/*                                 arrow-top                           */
.arrow-top {
  position: fixed;
  bottom: 20px;
  inset-inline-start: 20px;
  display: none;
  z-index: 10;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--main-color);
  font-size: 18px;
  border: none;
  outline: none !important;
  color: var(--white-color);
  text-decoration: none !important;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.arrow-top:hover, .arrow-top:focus {
  background-color: var(--main-hover);
  color: var(--white-color);
}

@media only screen and (max-width: 767px) {
  .arrow-top {
    bottom: 15px;
    inset-inline-start: 15px;
  }
}
.custom-pagention {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 20px;
}
.custom-pagention div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.custom-pagention a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #191C1F;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  background-color: var(--white-color);
  border: 1px solid #E4E7E9;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}
.custom-pagention a.arrow {
  border-color: var(--main-hover);
  color: var(--main-hover);
}

.custom-pagention a.active {
  color: var(--white-color);
  background-color: var(--main-hover);
  border-color: var(--main-hover);
}

.custom-pagention a:hover {
  color: var(--white-color);
  background-color: var(--main-hover);
}

.custom-pagention a i {
  font-size: 20px;
}

html[dir=ltr] .custom-pagention a i {
  transform: scaleX(-1);
}

.breadcrumb-sec {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.page-head {
  font-size: 24px;
  color: var(--white-color);
  font-weight: 700;
  margin-bottom: 15px;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
}

ul.breadcrumb {
  background-color: transparent;
  border: none;
  border-radius: 0;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

ul.breadcrumb li {
  padding: 0 10px;
}

ul.breadcrumb li a,
ul.breadcrumb li span,
ul.breadcrumb li {
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  font-size: 14px;
  color: #808080;
  font-weight: 400;
  text-decoration: none !important;
}

ul.breadcrumb li span {
  color: var(--black-color);
}
ul.breadcrumb li span::after {
  display: none;
}

ul.breadcrumb li a:hover {
  color: var(--main-hover);
}

@media (max-width: 991px) {
  .breadcrumb-sec {
    padding: 30px 0;
  }
}
.font16-400 {
  font-size: 16px;
  font-weight: 400;
}

.logoMainLink {
  flex-shrink: 0;
}

.font14-400 {
  font-size: 14px;
  font-weight: 400;
}

.font12-400 {
  font-size: 12px;
  font-weight: 400;
}

.colorMain {
  color: var(--main-color);
}

.bgMain {
  color: var(--main-color);
}

.upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #484C52;
  padding: 10px 33px 15px;
}
.upper .right-side {
  display: flex;
  align-items: center;
  gap: 16px;
}
.upper .van {
  display: flex;
  gap: 6px;
  align-items: center;
  cursor: pointer;
  color: var(--black-color);
}
.upper .van img {
  width: 20px;
  height: auto;
}
.upper .global {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  cursor: pointer;
}
.upper .global img {
  width: 12px;
  height: auto;
  flex-shrink: 0;
}
.upper .global i {
  font-size: 8px;
}
.upper .langs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #484C52; */
  min-width: 150px;
  border-radius: 15px;
  box-shadow: 0 0 10px #ffffff;
  position: absolute;
  top: 30px;
  inset-inline-end: 0;
  z-index: 60;
  background-color: white;
  display: none;
}
.upper .langs a {
  margin: 0;
  border-bottom: 1px solid #484C52;
  width: 100%;
  text-align: center;
  color: #484C52;
}
.upper .langs a:hover {
  background-color: #cfd3d8;
}
.upper .langs a:last-child {
  border: none;
}
.upper .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(31, 31, 31, 0.3);
  opacity: 0.3;
  z-index: 50;
  display: none;
}

.mainNavBar {
  border-radius: 28px;
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  padding: 17px 33px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  justify-content: space-between;
  gap: 25px;
}
.mainNavBar .logo {
  width: 89px;
  height: auto;
  max-height: 50px;
}
.mainNavBar .selec {
  display: flex;
  align-items: center;
  gap: 7px;
}
.mainNavBar .selec i {
  font-size: 8px;
}
.mainNavBar .locati {
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

@media (max-width: 991px) {
  .mainNavBar {
    flex-wrap: wrap;
    gap: 15px;
  }
  .mainNavBar .input-cont {
    order: 2;
  }
  .mainNavBar .input-cont input {
    padding-inline-start: 5px;
  }
}
header {
  margin-bottom: 24px;
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 100;
}
header .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #484C52;
  opacity: 0.3;
  z-index: 101;
}
header .bars-cont {
  position: relative;
}
header .bars-cont .hidden-menue {
  position: absolute;
  top: 100%;
  inset-inline-start: 0;
  width: 250px;
  background-color: var(--black-color);
  z-index: 200;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}
header .bars-cont .hidden-menue a {
  padding: 12px;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #111;
  transition: all 0.3s ease-in-out;
}
header .bars-cont .hidden-menue a:hover {
  color: var(--white-color);
  background-color: var(--sec-color);
}
header .bars-cont .hidden {
  display: none;
}
header .input-cont {
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 30px;
  border: 1px solid #aaa;
  height: 48px;
  width: 100%;
}
header .input-cont input {
  border: none;
  outline: none;
  padding-inline-start: 30px;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  background-color: transparent;
  color: var(--white-color);
}
header .input-cont .dropdown button {
  background-color: transparent;
  color: #484C52;
  font-family: Linotte-Light;
  font-size: 14px;
  font-weight: 400;
  border: none;
  outline: none;
  display: flex;
  gap: 7px;
  align-items: center;
}
header .input-cont .dropdown button:active {
  background-color: var(--main-color);
}
header .input-cont .dropdown button:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
header .input-cont .dropdown button:focus {
  border: none;
  box-shadow: none;
}
header .input-cont .dropdown .dropdown-toggle::after {
  display: none;
}
header .input-cont .search-icon {
  width: 48px;
  height: 48px;
  background-color: var(--main-color);
  border-radius: 0 30px 30px 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header .nav-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  flex-shrink: 0;
}
header .nav-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
header .nav-card i {
  color: var(--main-color);
  height: 20px;
  width: auto;
  max-width: 100px;
  border-radius: 3px;
  overflow: hidden;
  padding-bottom: 3px;
}
header .nav-card p {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
header .cart {
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  background-color: var(--main-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
header .cart i {
  color: var(--white-color);
}
header .cart span {
  position: absolute;
  inset-inline-end: -4px;
  bottom: 0;
  width: 18px;
  height: 18px;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 10px var(--white-color);
  background-color: var(--white-color);
  color: var(--main-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Linotte-Regular;
  font-size: 12px;
  font-weight: 400;
}
header .balance {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
header .balance span {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
}
header .cart-balance {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .overlay {
  width: 100%;
  height: 100%;
  top: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(199, 184, 163, 0.1) 100%);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero .overlay .heading {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  margin-bottom: 60px;
}
.hero .overlay .heading h2 {
  color: #F7F7F7;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0;
}
.hero .overlay .heading h4 {
  margin-bottom: 8px;
  font-size: 16px;
  color: #F7F7F7;
  font-weight: 600;
}
.hero .overlay .heading .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
}
.hero .overlay .heading a {
  font-size: 20px;
  font-weight: 700;
  padding: 16px 24px;
  border-radius: 12px;
  width: 100%;
  text-align: center;
}
.hero .overlay .heading .main-link {
  color: var(--white-color);
}
.hero .overlay .heading .main-link:hover {
  background-color: var(--main-hover);
  color: #222222;
}
.hero .overlay .heading .sec-link {
  background-color: var(--main-color);
  color: #333;
  width: -moz-fit-content;
  width: fit-content;
}
.hero .overlay .heading .sec-link:hover {
  background-color: var(--main-hover);
  color: var(--sec-color);
}
.hero .overlay .mob-tab {
  display: flex;
  max-height: 700px;
  align-items: flex-end;
  width: 100%;
  justify-content: center;
  position: relative;
}
.hero .overlay .mob-tab .tab {
  height: auto;
  max-width: 70%;
  border-radius: 30px 30px 0 0;
  transform: translate(7.5%);
  z-index: 10;
  max-height: 100%;
}
.hero .overlay .mob-tab .mobile {
  max-width: 18%;
  height: auto;
  transform: translate(-7.5%);
  z-index: 11;
  max-height: 100%;
}
.hero .overlay .mob-tab .gradiant {
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(33, 32, 31, 0.8) 0%, rgba(135, 131, 127, 0) 100%);
  bottom: 0;
  right: 0;
  left: 0;
  height: 180px;
  z-index: 13;
}

@media (max-width: 676px) {
  .hero .overlay {
    padding: 40px 0 0 0;
  }
  .hero .overlay .heading h1 {
    font-size: 36px;
  }
  .hero .overlay .heading p {
    font-size: 24px;
  }
  .hero .overlay .heading .links {
    width: 95%;
    margin: auto;
  }
  .hero .overlay .heading a {
    font-size: 15px;
  }
  .hero .overlay .mob-tab .tab {
    max-width: 100%;
    transform: translate(0);
  }
  .hero .overlay .mob-tab .mobile {
    display: none;
  }
  .hero .overlay .mob-tab .gradiant {
    height: 100px;
  }
}
.btns {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 767px) {
  .btns {
    flex-direction: column;
  }
}
.btns a {
  padding: 0 24px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-wrap: nowrap;
}
@media screen and (max-width: 767px) {
  .btns a {
    width: 100%;
  }
}
.btns .book-link {
  background-color: transparent;
  border: 2px solid var(--white-color);
  color: var(--white-color);
}
.btns .book-link:hover {
  background-color: var(--main-color);
  color: var(--sec-color);
}
.btns .sec-book-link {
  background-color: var(--sec-color);
  color: var(--main-color);
}
.btns .sec-book-link:hover {
  background-color: var(--main-color);
  color: var(--sec-color);
}

* {
  transition: all 0.3s ease-in-out;
}

.gallery {
  padding: 50px 0;
}
.gallery .relative {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
}
.gallery .relative:hover .offered-meal-overlay {
  opacity: 1;
  transform: scale(1.1);
}
.gallery .offered-meal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  padding: 10px;
  transition: opacity 0.3s ease-in-out;
}
.gallery .offered-meal-overlay .offered-meal-title {
  color: var(--white-color);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.gallery .offered-meal-overlay .offered-meal-text {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.gallery .offered-meal-overlay .button {
  background-color: #007A4B;
  color: var(--white-color);
  padding: 0px 5px 0px 15px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.gallery .offered-meal-overlay .button:hover {
  background-color: var(--main-color);
}
.gallery .offered-meal-overlay .button span {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}
.gallery .offered-meal-overlay .button i {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white-color);
  color: #007A4B;
  font-size: 20px;
}

footer {
  background-color: #21201F;
  padding: 100px 0 20px 0;
}
footer .content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 16px;
}
footer .content .logo {
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .content .logo img {
  width: 100%;
  height: 100%;
}
footer .content .links {
  max-width: 245px;
}
footer .content .links h3 {
  margin-bottom: 33px;
  font-size: 24px;
  font-weight: 700;
  color: var(--white-color);
}
footer .content .links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
footer .content .links ul li {
  font-size: 16px;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 0;
}
footer .content .links ul li a:hover {
  color: var(--main-color);
}
footer .content .links .social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
footer .content .links .social i {
  font-size: 33px;
  color: var(--white-color);
}
footer .content .links .social i:hover {
  color: var(--main-color);
}
footer .content .links .login-btn {
  padding: 16px 40px;
  background-color: var(--main-color);
  border-radius: 12px;
  color: var(--white-color);
  font-size: 12px;
  font-weight: 700;
}
footer .served {
  padding: 20px 0;
  color: var(--white-color);
  border-top: 1px solid #5D6873;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 600px) {
  footer .content {
    flex-direction: column;
    align-items: center;
  }
  footer .content .links {
    text-align: center;
  }
  footer .content .links ul {
    align-items: center;
  }
}
.two-meals {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.two-meals .meal {
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
}
.two-meals .meal .img-cont {
  width: 100%;
  aspect-ratio: 5/4;
  overflow: hidden;
}
.two-meals .meal .img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.two-meals .meal .text {
  background-color: var(--white-color);
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.two-meals .meal .text h4 {
  font-size: 16px;
  font-weight: 600;
  color: var(--black-color);
  margin-bottom: 0;
}
.two-meals .meal .text .rate {
  display: flex;
  align-items: center;
  gap: 2px;
}
.two-meals .meal .text .rate i {
  color: #C3C3C3;
}
.two-meals .meal .text .rate .active {
  color: var(--main-color);
}
.two-meals .meal .text .price-addtocart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.two-meals .meal .text .price-addtocart h5 {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  color: var(--main-color);
}
.two-meals .meal .text .price-addtocart i {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #C3C3C3;
  color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.two-meals .meal .text .price-addtocart i:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.Sec-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 40px;
}

.menue {
  padding: 50px 0;
}
.menue .tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}
.menue .tabs .tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.menue .tabs .tab:hover i {
  opacity: 1;
}
.menue .tabs .tab i {
  color: var(--main-color);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  font-size: 26px;
}
.menue .tabs .tab h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 0;
}
.menue .tabs .active-tab i {
  opacity: 1;
}
.menue .tabs .active-tab h4 {
  color: var(--main-color);
}

.sp-offer .container {
  position: relative;
}
.sp-offer .container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .sp-offer .container .overlay {
    flex-direction: column;
    align-items: center;
  }
}
.sp-offer .container .overlay .text-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .sp-offer .container .overlay .text-cont {
    align-items: center;
    text-align: center;
    order: 2;
  }
}
.sp-offer .container .overlay .text-cont h4 {
  font-size: 24px;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 16px;
}
.sp-offer .container .overlay .text-cont h3 {
  color: #F3274C;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}
.sp-offer .container .overlay .text-cont p {
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
  margin-bottom: 80px;
}
.sp-offer .container .overlay .text-cont .order-cont {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sp-offer .container .overlay .text-cont .order-cont a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-decoration: none;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  padding: 0px 5px 0px 15px;
  background-color: var(--main-color);
  height: 48px;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.sp-offer .container .overlay .text-cont .order-cont a:hover {
  background-color: var(--main-hover);
}
.sp-offer .container .overlay .text-cont .order-cont a span {
  font-size: 12px;
}
.sp-offer .container .overlay .text-cont .order-cont a i {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--main-color);
  font-size: 20px;
  flex-shrink: 0;
}
.sp-offer .container .overlay .text-cont .order-cont .new-price {
  color: var(--main-color);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .sp-offer .container .overlay .text-cont .order-cont .new-price {
    color: var(--white-color);
  }
}
.sp-offer .container .overlay .text-cont .order-cont .old-price {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  text-decoration: line-through;
}
.sp-offer .container .overlay .img-cont {
  height: 500px;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .sp-offer .container .overlay .img-cont {
    order: 1;
  }
}
.sp-offer .container .overlay .img-cont img {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

.offer-main-section {
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 26% 100%);
          clip-path: polygon(50% 0, 100% 0%, 100% 100%, 26% 100%);
  background-color: var(--main-color);
  min-height: 700px;
  border-radius: 50px;
}

.instagrams {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 50px 0;
}
.instagrams .text-cont {
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 50px 0 15px;
}
.instagrams .text-cont i {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #F3274C;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  margin-bottom: 30px;
}
.instagrams .text-cont h2 {
  font-size: 50px;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 10px;
}
.instagrams .text-cont h6 {
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
  margin-bottom: 0;
}
.instagrams .part-cont {
  height: 350px;
  width: 350px;
  border-radius: 15px;
  overflow: hidden;
}
.instagrams .part-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Testmonials {
  margin: 150px 0;
}
.Testmonials .test-cont-parent {
  transform: rotate(3deg);
  background-color: var(--main-color);
  border-radius: 8px;
}
.Testmonials .test-cont {
  transform: rotate(-3deg);
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 80px 16px;
  border-radius: 8px;
  border: 1px solid rgba(196, 196, 196, 0.25);
  box-shadow: 0px 4px 10px rgba(196, 196, 196, 0.25);
}
.Testmonials .test-cont .l-side {
  flex-shrink: 0;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  position: relative;
  border-inline-end: 1px solid #E5E5E5;
}
@media screen and (max-width: 767px) {
  .Testmonials .test-cont .l-side {
    width: 100%;
  }
}
.Testmonials .test-cont .l-side .sqr {
  position: absolute;
  width: 36px;
  height: 36px;
  border-inline-end: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  transform: rotate(45deg);
  top: 40%;
  z-index: 10;
  background-color: var(--black-color);
  inset-inline-end: -18px;
}
.Testmonials .test-cont .l-side .rate-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.Testmonials .test-cont .l-side .rate-head h2 {
  font-size: 72px;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 0;
}
.Testmonials .test-cont .l-side .rate-head p {
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
  margin-bottom: 0;
}
.Testmonials .test-cont .l-side .stars-rates {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.Testmonials .test-cont .l-side .stars-rates .rate {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  gap: 20px;
  width: 100%;
}
.Testmonials .test-cont .l-side .stars-rates .rate .stars {
  display: flex;
  align-items: center;
  gap: 2px;
}
.Testmonials .test-cont .l-side .stars-rates .rate i {
  color: #F0AD4E;
}
.Testmonials .test-cont .l-side .stars-rates .rate .prog-bar {
  width: 100%;
  height: 5px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}
.Testmonials .test-cont .l-side .stars-rates .rate .prog-bar .prog {
  border-radius: 10px;
  height: 5px;
  background-color: var(--main-color);
}
.Testmonials .test-cont .l-side .stars-rates .rate span {
  font-size: 12px;
  font-weight: 400;
  color: var(--white-color);
  margin-bottom: 0;
}
.Testmonials .test-cont .r-side {
  width: 75%;
  padding: 0 20px;
  padding-inline-start: 30px;
}
@media screen and (max-width: 767px) {
  .Testmonials .test-cont .r-side {
    width: 100%;
    padding: 0 20px;
    padding-inline-start: 0;
  }
}
.Testmonials .test-cont .r-side .test-wahed {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 30px;
}
.Testmonials .test-cont .r-side .test-wahed .rates {
  display: flex;
  align-items: center;
  gap: 2px;
}
.Testmonials .test-cont .r-side .test-wahed .rates i {
  color: var(--main-color);
}
.Testmonials .test-cont .r-side .test-wahed p {
  color: #eee;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 0;
}
.Testmonials .test-cont .r-side .test-wahed .name {
  font-size: 14px;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 0;
}
.Testmonials .test-cont .r-side .swiper {
  padding-bottom: 30px;
}
.Testmonials .test-cont .r-side .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: var(--main-color) !important;
  border-radius: 50% !important;
}
.Testmonials .test-cont .r-side .swiper-pagination-bullet-active {
  border: 10px solid var(--black-color) !important;
  outline: 1px solid var(--main-color) !important;
}
.Testmonials .test-cont .r-side .swiper-pagination {
  justify-content: flex-end !important;
}

.cart-page {
  min-height: calc(100vh - 511px);
  margin-top: 200px;
}

.bead-cramp {
  margin-bottom: 20px;
}
.bead-cramp p,
.bead-cramp a {
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
}

.cart-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
@media only screen and (max-width: 991px) {
  .cart-body {
    grid-template-columns: 1fr;
  }
}
.cart-body .prods {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-body .prods-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-body .prods-heading h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
  color: var(--white-color);
}
.cart-body .prods-heading button {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
  color: #C71919;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.cart-body .price-summary {
  display: flex;
  flex-direction: column;
  padding: 28px 26px 22px;
  border: 1px solid rgba(220, 220, 220, 0.5);
  border-radius: 10px;
  background-color: var(--black-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 991px) {
  .cart-body .price-summary {
    padding: 15px 15px;
  }
}
.cart-body .price-summary h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
  color: var(--white-color);
}
.cart-body .price-summary .price-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 14px;
  border-bottom: 1px solid rgba(28, 28, 28, 0.1);
  padding-bottom: 14px;
}
.cart-body .price-summary .flex-dit,
.cart-body .price-summary .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.cart-body .price-summary .head {
  font-size: 18px;
  font-weight: 400;
  color: var(--white-color);
  margin-bottom: 0;
}
.cart-body .price-summary .value {
  font-size: 18px;
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 0;
}
.cart-body .price-summary .dis-value {
  color: #C71919;
}
.cart-body .price-summary .total {
  margin-bottom: 40px;
}
.cart-body .price-summary .total .head {
  font-weight: 600;
}
.cart-body .price-summary .total .value {
  font-weight: 900;
}
.cart-body .price-summary .addBtn {
  background-color: var(--main-color);
  color: var(--white-color);
  height: 48px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-body .price-summary .addBtn:hover {
  background-color: var(--white-color);
  color: var(--main-color);
  transform: scale(1.05);
}
.cart-body .price-summary p {
  color: #C71919;
}
.cart-body .price-summary .input-cont {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cart-body .price-summary .input-cont label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  color: var(--black-color);
}
.cart-body .price-summary .input-cont input {
  border: 1px solid rgba(28, 28, 28, 0.1);
  border-radius: 7px;
  padding: 16px 52px 16px 16px;
  background-color: #F9F9F9;
  font-size: 16px;
  font-weight: 400;
  color: #141414;
  line-height: 16px;
  width: 100%;
}
.cart-body .price-summary .input-cont input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #878787;
}
.cart-body .price-summary .input-cont input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #878787;
}
.cart-body .price-summary .input-cont button {
  position: absolute;
  top: 50%;
  inset-inline-end: 16px;
  transform: translateY(-50%);
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.cart-body .empty {
  font-size: 22px;
  font-weight: 400;
  color: var(--black-color);
  margin: 0px;
}

.imp-btn-cont {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}
.imp-btn-cont input {
  border: 1px solid rgba(28, 28, 28, 0.1);
  border-radius: 7px;
  padding: 16px 52px 16px 16px;
  background-color: #F9F9F9;
  font-size: 16px;
  font-weight: 400;
  color: #141414;
  line-height: 16px;
  width: 100%;
}
.imp-btn-cont button {
  position: absolute;
  top: 50%;
  inset-inline-end: 16px;
  transform: translateY(-50%);
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.cart-products {
  display: flex;
  flex-direction: column;
  padding: 8px 40px;
  border: 1px solid rgba(220, 220, 220, 0.1);
  border-radius: 10px;
  background-color: var(--black-color);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
}
@media only screen and (max-width: 991px) {
  .cart-products {
    padding: 15px 15px;
  }
}
.cart-products .cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0 30px;
  border-bottom: 1px solid rgba(220, 220, 220, 0.5);
  position: relative;
}
@media screen and (max-width: 767px) {
  .cart-products .cart-product {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
}
.cart-products .cart-product .l-side {
  display: flex;
  gap: 30px;
}
.cart-products .cart-product .l-side .img-cont {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.cart-products .cart-product .l-side .img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.cart-products .cart-product .l-side .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-products .cart-product .l-side .info .title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  color: var(--white-color);
}
.cart-products .cart-product .l-side .info .categ {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  color: var(--white-color);
}
.cart-products .cart-product .l-side .info .rate {
  margin-bottom: 0;
}
.cart-products .cart-product .l-side .info .price {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  color: var(--white-color);
}
.cart-products .cart-product .fa-bookmark {
  font-size: 21px;
  color: var(--black-color);
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .cart-products .cart-product .fa-bookmark {
    position: absolute;
    top: 20px;
    inset-inline-end: 20px;
  }
}
.cart-products .cart-product .colored {
  color: var(--main-color);
}
.cart-products .cart-product:last-child {
  border-bottom: none;
}
.cart-products .r-side {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .cart-products .r-side {
    align-items: center;
    width: 100%;
  }
}
.cart-products .r-side .prod-count {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-products .r-side .prod-count span {
  font-size: 24px;
  font-weight: 400;
  color: var(--white-color);
  min-width: 30px;
  text-align: center;
}
.cart-products .r-side .prod-count .minus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  border: 1px solid var(--white-color);
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.cart-products .rate {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.cart-products .rate i {
  font-size: 15px;
  color: #C3C3C3;
}
.cart-products .rate .golden {
  color: #FAC950;
}

.count-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}/*# sourceMappingURL=main.css.map */